h1{
    font-size: large;
    text-align: center;
}
pre{
    font-size: large;
    text-align: center;
}
.viz-container{
    display: flex;
    align-items: center;
    
    margin: 7rem;
    margin-bottom: 0;
}
.marks .provinces{
    fill:#8a8bf9;
}
.marks .provinces.interactive{
    fill: red;
}
.marks .interiors{
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.1em;
}
.hide{
    display:none;
}
.timeline-container{
    margin-left: 7rem;
    margin-right: 7rem;
}
.swiper-wrapper{
    margin-left:1rem;
    margin-right:1rem;
    font-size: 1rem;
}
.carousel{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
}